@font-face {
    font-family: 'Futura';
    src: url('Futura-HeavyOblique.woff2') format('woff2'),
        url('Futura-HeavyOblique.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

